body{
    margin : 0;
    padding : 0;
    background-color : rgba(91, 0, 152, 0.717);
    font-family: Verdana, sans-serif;
  }
  main{
    background: rgba( 8, 191, 148, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width : 90vw;
    margin : 10px auto;
  }
  h1 , h3{
    text-align:center;
    color : white;
  }
  #img-div{
    display:flex;
    justify-content:center;
    align-items : center;
    flex-direction : column;
  }
  #image{
    width : 80vw;
    max-width : 100%;
    height : auto;
    object-fit : cover;
    border-radius : 10px;
  }
  #img-caption{
    text-align:center;
    color : white;
  }
  .center-text{
    text-align:center;
  }
  p,ul,li,dl,dd,dt{
    color : white;
    margin : 10px 75px;
    font-size : 0.9rem;
    font-weight:100;
    text-align : left;
  }